ul {
    font-family: 'Slabo 27px', serif;
    font-size: 16px;
}

img {
    width: 25%;
}

.text {
    background-color: rgb(242, 255, 237);
    padding: 10px;
    padding-left: 20px;
    width: 75%;
    border-radius: 20px;
    border: black solid;
    margin: auto;
    box-shadow: 5px 5px 5px gray;
}
#next_topic {
    margin-right: 30px;
    margin-bottom: 20px;
    float: right;
}

.info {
    width: 75%;
}

h3 {
    font-family: 'Montserrat';
}

